<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script
src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page">
  <div data-role="header">
    <h1>Nutrients Control</h1>
  </div>

  <div data-role="main" class="ui-content">
      <form method="post" action="{{ url_for('runpumps') }}">
      <label for="points">Base (ml):</label>
      <input type="range" name="pump1time" id="points" value="5" min="0"
max="100">
      <label for="points">Bloom (ml):</label>
      <input type="range" name="pump2time" id="points" value="5" min="0"
max="100">
      <input type="submit" data-inline="true" value="Submit">
    </form>
  </div>
</div>

</body>
</html>

